* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	text-align: center;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	color: #ffffff;
	/*background-color: #4f4d4d;*/
	background-color: #000000;
}

#agrupar {
	width: 960px;
	margin: 15px auto;
	text-align: left;
}

a:link, a:visited, a:active {
	text-decoration:none;
	color: #adb6c7;
}

#cabecera {
	background: #000000;
	padding: 20px;	
}

#cabecera img{
	width: 100%;
	height: 100%;
}

#cabecera>img {
    width: 920px;
	animation: ease-in animat 1s;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#menu {
	background: #000000;
	padding: 10px 25px;
	text-decoration: none;
	position: fixed;
	z-index: 100;
	top: 0;
}

#menu li{
	display: inline-block;
	list-style: none;
	padding: 0 63px;
	font: bold 14px verdana, sans-serif;
}

#menu li :hover{
    color: #669eff;
}

#artband {
	float: left;
	width: 660px;
	margin: 20px;
	border-radius:7px;
	}

#artband img{
	border-radius: 7px;
	border: 1px solid #999999;
}

div.galleryartrise:hover img {
	transform: scale(1.4) rotateY(360deg);
	-webkit-transform: scale(1.4) rotateY(360deg);
	transform: scale(1.4);
	transform-origin: 0%;
	transition-duration: 300ms;
}

div.galleryartrise{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#columna {
	float: left;
	width: 260px;
	margin: 20px 0px;
	padding: 20px;
	background: #2b2a2a;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	color: #adb6c7;
	border: 1px solid #4f4d4d;
	border-radius: 7px;
}

#columna img{
	border-radius: 5px;
}

#columna img:hover{
	box-shadow: 0px 0px 7px 7px #fc0000;
	-webkit-box-shadow: 0px 0px 7px 7px #fc0000;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.social-media i{
    font-size: 20px;
    color: #adb6c7;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #4f4d4d;
    background-color: #669eff;
    border-color: #669eff;
    border-radius: 50%;
}

#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}

article {
	background: #2b2a2a;
	border: 1px solid #4f4d4d;
	border-radius: 7px;
	padding: 20px;
    margin-bottom: 15px;
    height: max-content;
}

/*Comienza el formulario de contacto*/

.contact_form{  
    width: 460px; 
  height: auto;
  margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
  background-color: #4f4d4d; 
  padding-left: 30px; 
}


input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #adb6c7; 
    margin-top: 10px;  
    padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #adb6c7; 
    margin-top: 10px;  
    padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
    float: center;  
}


button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;     
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #adb6c7; 
    border-color: #adb6c7; 
    border-style: solid; 
    border-radius: 10px;    
    width: 420px;   
  cursor: pointer;
}


button p{
    color: #000000; 
}


span{
    color: #adb6c7; 
}


.aviso{
    font-size: 13px;  
    color: #669eff;  
}


h1{
    font-size: 24px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #ffffff;
}


h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #669eff;   
}


p{
    font-size: 14px; 
    color: #669eff; 
}


::-webkit-input-placeholder {
 color: #669eff;
}


::-webkit-textarea-placeholder {
 color: #669eff;
}


.formulario input:focus{
    outline:0;
    border: 1px solid #ffffff;
}


.formulario textarea:focus{
    outline:0;
    border: 1px solid #ffffff;
}

/*Termina el formulario de contacto*/


